# This is sample config

# Zimbra version to run
ZIMBRA_VERSION="10.1.15.p1"

# Default Domain
DEFAULT_DOMAIN=mailhappen.test

# Admin and default password
ADMIN_USERNAME=mailadmin
ADMIN_PASSWORD=zimbra

# Local timezone
TIMEZONE=Asia/Kuala_Lumpur

# Set a custom network range so that MTA mynetworks is static
SUBNET=172.28.0.0/24

# Multiserver need a standard profile across all
# LDAP Master (the very first Zimbra server)
#LDAP_HOST=ldap1.mailhappen.test

# Define below if needed (default below)
#LDAP_REPLICATION_TYPE=master
#LDAP_SERVER_ID=1

# LDAP password among servers
#LDAP_ADMIN_PASS=VVEdNmVbpuk2Qg
#LDAP_ROOT_PASS=NRetKwKTrCE9aY

# MTA host for mailbox (zimbraSmtpHostname)
#SMTP_HOST=smtp1.mailhappen.test

# OnlyOffice server (zimbraDocumentServerHost)
# Change only if centralized
#ONLYOFFICE_HOST=onlyoffice.mailhappen.test
